In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('FY 2022/Adamstown 132_11kV FY2022.csv', delimiter=',')
data.head()

,year,Zone Substation,Date,unit,0:15,0:30,0:45,1:00,1:15,1:30,...,21:45,22:00,22:15,22:30,22:45,23:00,23:15,23:30,23:45,24:00:00
0,2022,Adamstown 132_11kV,01MAY2021,MW,9.371196,8.966959,8.817166,9.287505,8.971956,8.283622,...,10.619104,9.914877,9.443753,9.209049,9.309421,8.807181,9.437624,8.942692,8.385109,8.562696
1,2022,Adamstown 132_11kV,02MAY2021,MW,8.438285,7.909257,8.041159,8.717090,7.839918,7.218982,...,10.907526,10.245412,9.600080,9.038160,9.126055,8.582110,9.049516,8.622758,8.036974,8.092390
2,2022,Adamstown 132_11kV,03MAY2021,MW,8.024821,7.681340,7.918135,8.514636,7.749626,7.170066,...,9.657091,9.389373,11.147627,10.691247,10.043475,9.408988,9.504627,9.147790,9.176241,9.238046
3,2022,Adamstown 132_11kV,04MAY2021,MW,9.201315,8.790120,8.641952,9.109011,8.773925,8.106145,...,11.265302,10.939084,12.645879,12.148078,11.429279,10.730701,10.654950,10.318832,10.273759,10.270914
4,2022,Adamstown 132_11kV,05MAY2021,MW,10.189298,9.704412,9.564707,10.084609,9.784480,9.182866,...,10.599135,10.272109,11.976171,11.394462,10.741139,10.058613,10.105311,9.663833,9.683704,9.760449

In [31]:
data.iloc[275,50:]

11:45       10.601407
12:00       11.269133
12:15       10.626414
12:30       10.791364
12:45       10.837492
13:00       10.933688
13:15       11.098955
13:30       11.202846
13:45       11.303922
14:00       11.595698
14:15       11.780403
14:30       12.088452
14:45        12.68607
15:00       12.624573
15:15       12.739251
15:30       13.207324
15:45       13.409337
16:00       14.083512
16:15       14.526259
16:30       14.863874
16:45       15.351823
17:00       15.907203
17:15       16.526931
17:30       17.309612
17:45       17.892873
18:00        18.24036
18:15       18.569156
18:30       19.068026
18:45       19.234545
19:00       19.532933
19:15       19.464026
19:30       19.608084
19:45       18.754059
20:00       17.966122
20:15       17.568578
20:30       17.295622
20:45       16.947043
21:00        16.45279
21:15       16.016984
21:30       15.649764
21:45       15.224977
22:00        14.61907
22:15        15.21727
22:30       15.130399
22:45       14.096216
23:00        13.08205
23:15       12.592748
23:30         11.8526
23:45       11.619466
24:00:00    11.780403
Name: 275, dtype: object

In [46]:
max_row = data.iloc[:,4:].idxmax()
max_col = data.iloc[:,4:].idxmax().idxmax()
max_col, max_row

('15:15',
 0:15        41
 0:30        41
 0:45        41
 1:00        41
 1:15        41
             ..
 23:00       40
 23:15       40
 23:30       40
 23:45       40
 24:00:00    40
 Length: 96, dtype: int64)

In [43]:
data.iloc[40]['17:45']

27.533309825

In [47]:
data.iloc[40]

year                             2022
Zone Substation    Adamstown 132_11kV
Date                        10JUN2021
unit                               MW
0:15                        13.689268
                          ...
23:00                       16.712544
23:15                       16.208398
23:30                       15.359566
23:45                       14.959483
24:00:00                    14.813329
Name: 40, Length: 100, dtype: object